.odd-numbered
{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:lightpink;
    

}

#even-number-1
{

    color: blue;
    font-size: 36px;
}

#even-number-2
{

   background-color:lightgreen;
    font-size: 24px;
    font-weight: bold;
}

.odd-numbered #number3{

font-size: 24px;

}
